<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="notice.css?after" />
    <title>Document</title>
</head>
<body>
<main class="main">
    <div class="wrap">
        <br />
        <h1 style="text-align: center; font-size: 40px">공지사항</h1>
        <div class="table">
            <table>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성 날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notice : ${notice}" th:attr="data-href=@{'/notice/' + ${notice.id}}" onclick="window.location.href = this.getAttribute('data-href');">
                    <td th:text="${notice.id}"></td>
                    <td th:text="${notice.title}"></td>
                    <td th:text="${notice.author}"></td>
                    <td th:text="${notice.created_At}"></td>

                </tr>
                </tbody>
            </table>
        </div>
        <div><a href="/notice-write"><button class="write">글쓰기</button></a></div>
    </div>
</main>
</body>
</html>